@font-face {
  src: url("../fonts/NunitoSans-Regular.ttf");
  font-family: "NunitoSans Regular";
}

@font-face {
  src: url("../fonts/NunitoSans-Italic.ttf");
  font-family: "NunitoSans Italic";
}

@font-face {
  src: url("../fonts/YesevaOne-Regular.ttf");
  font-family: "YesevaOne Regular";
}
/*general styles*/
body {
  margin: 0;
  font-family: "NunitoSans Regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
}

.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;

  font-family: "NunitoSans Italic", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-nondesign {
  background: none;
  border: transparent;
  box-shadow: none;
  cursor: pointer;
}

.title {
  margin: 0;
  font-family: "YesevaOne Regular", "Times New Roman", Times, serif;
  font-size: 27px;
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
  color: #e3b873;
}

.subtitle {
  font-size: 20px;
  text-align: center;
  color: #181818;
}

/*for drawing lines around the logo-picture*/
.logo {
  position: relative;
  left: 0;
  color: #e3b873;
  margin-top: 12px;
}

.logo::after {
  content: "";
  width: 32px;
  border-bottom: solid 1px #e3b873;
  position: absolute;
  left: 40px;
  top: 50%;
  z-index: 1;
}

.logo::before {
  content: "";
  width: 32px;
  border-bottom: solid 1px #e3b873;
  position: absolute;
  left: -42px;
  top: 50%;
  z-index: 1;
}

.input {
  font-family: "NunitoSans Regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2.2;
  color: #363636;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  max-width: 231px;
}

/*start of the header */
.header {
  background-color: #131313;
}

.header-box {
  display: flex;
  height: 83px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation__item {
  margin-right: 47px;
}

.nondesign-a {
  text-decoration: none;
  color: white;
}

.nondesign-a:hover {
  color: #e3b873;
}

.header-button {
  width: 161px;
  height: 37px;
}

.text-orange {
  color: #e3b873;
}
/*end of the header, start of the hero*/
.hero {
  background-image: url("../img/bgRoom.jpg");
  background-size: cover;
  height: 707px;
  position: relative;
  padding-top: 194px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.hero-container {
  position: relative;
  z-index: 100;
  padding-left: 43px;
}

.hero-title {
  font-size: 40px;
  color: #fff;
}

.hero-text {
  font-size: 22px;
  line-height: 36px;
  color: #fff;
}

.button-top {
  width: 207px;
  height: 51px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
}

.button-top:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: transparent;
}
/*end of the hero, start of the projects*/

.project {
  background-color: #131313;
  display: flex;
  padding-bottom: 414px;
}

.project-flex-big {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-list {
  margin: 0 0 0 535px;
  padding: 107px 0 0;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.p-l__list {
  list-style: none;
  padding: 6px 0;
  margin: 0 60.5px 45px 0;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.p-l__list:last-of-type {
  margin-right: 0;
}

.p-l__list .nondesign-a:hover {
  border-bottom: 1px solid #e3b873;
}

.project-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height: 500px;
  padding-left: 43px;
}

.p-part__title {
  letter-spacing: -0.07em;
}

.project-text {
  padding-top: 20px;
  line-height: 1.9;
  color: #ffffff;
}

.project-properties {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 200px;
}

.p-p__title {
  padding-top: 20px;
  width: 50%;
  font-size: 18px;
}

.p-p__text {
  width: 50%;
  font-size: 13px;
  color: #ffffff;
}

.project-dots {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.p-d__dot {
  padding: 4.5px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 4.5px 9px;
}

.project-dots .nondesign-a:hover .p-d__dot {
  background-color: #e3b873;
}

.project-box__image {
  margin-left: 30px;
}

.project-box__image_mobile {
  display: none;
}
/*end of the project, start of the control */
.control {
  max-width: 817px;
  margin: -329px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control_subtitle {
  color: #ffffff;
}

.control-image {
  width: 817px;
  height: 434px;
  background: url("../img/video stop.png");
  position: relative;
  margin: 31px 0 80px 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

.control-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.control-play {
  z-index: 100;
}

.control-text {
  position: relative;
  max-width: 681px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
}

.control-text::after {
  content: "";
  width: 55px;
  border-bottom: solid 1px #e3b873;
  position: absolute;
  left: calc(50% - 25px);
  top: -34px;
  z-index: 1;
}

.control-form {
  max-width: 823px;
  margin-top: 91.5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.control-label {
  width: 30%;
  height: 51px;
  margin-right: 49px;
  font-size: 13px;
  line-height: 1.6;
  color: rgba(54, 54, 54, 0.5);
}

.control__submit {
  max-width: 200px;
  height: 51px;
  font-family: "NunitoSans Regular", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.control-agreement {
  margin-top: 33px;
  text-align: center;
}

.control-label-2 {
  cursor: pointer;
}

.control-checkbox {
  display: none;
}

.control-fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
}

.control-fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}

.control-checkbox:checked + .control-fake::before {
  opacity: 1;
}

/*end of the control, start of the repair and request section */
.repair-and-request {
  background: no-repeat url("../img/bgWall.png") left 0 bottom 322px;
}

.repair {
  margin-top: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repair-boxes {
  margin: 31px 0 311px;
  width: 1256px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.r-b-box {
  width: 392px;
  height: 421px;
}

.r-b-box_bg1 {
  background-image: url("../img/redecorating.jpg");
}

.r-b-box_bg2 {
  background-image: url("../img/overhaul.jpg");
}

.r-b-box_bg3 {
  background-image: url("../img/designer\ repair.jpg");
}

.r-b-box_item {
  margin: 294px 31px 0;
  height: 286px;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair_subtitle {
  font-size: 18px;
  padding: 25px 0 0 34px;
  text-transform: none;
  color: #363636;
}

.r-b-box_list {
  padding-left: 34px;
  margin: 8px 0;
  list-style-position: inside;
  font-size: 13px;
  line-height: 2.1;
  color: #959595;
}

.repair-button {
  width: 228px;
  padding: 15px 0;
  font-family: "YesevaOne Regular", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  cursor: default;
  border-radius: 0;
}

/*end the repair part of section, start of the request part of section */
.request {
  width: 1256px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 117px;
}

.request-properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.36;
  margin-left: 138px;
  max-width: 500px;
}

.r-p__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #363636;
}

.r-p__item-number {
  justify-content: center;
  align-items: center;
  background: #e3b873;
  width: 57px;
  height: 57px;
  border: 8px solid #ffffff;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
  font-family: "YesevaOne Regular", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.5em;
  color: #fff;
  text-align: center;
  margin-right: 8px;
}

.request-form {
  width: 506px;
  height: 509px;
  padding: 27px 49px;
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.r-f__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #ffffff;
}

.r-f__label {
  width: 408px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.r-f__input {
  background: none;
  color: #fff;
}

.r-f__agreement {
  align-self: flex-start;
  color: #fff;
  cursor: pointer;
}

.r-f__submit {
  width: 213px;
  height: 51px;
  align-self: flex-end;
  font-style: normal;
  font-family: "NunitoSans Regular", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 0;
}

.request-pig {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 38px 0 201px 625px;
}

.request-pig__picture {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 25px;
  align-items: center;
  background: #e3b873;
  box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.request-pig__text {
  font-size: 18px;
  line-height: 1.44;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/*end of the r&r, start of the fantastic */

.fantastic {
  height: 946px;
  position: relative;
  z-index: 1;
}

.fantastic-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 41px;
  height: 864px;
  background: no-repeat center/cover url("../img/bgFantastic.png");
  z-index: 2;
}

.fantastic::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  right: 0;
  top: 41px;
  height: 864px;
  z-index: 3;
}

.fantastic-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 10;
}

.fb__text {
  max-width: 445px;
}

.fb__list {
  list-style: none;
  padding: 0;
  margin-top: 47px;
}

.fb__list-item {
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 25px;
}

.fb__list-item .nondesign-a:hover {
  border-bottom: 1px solid #e3b873;
}

.fb__picbox {
  display: flex;
  flex-direction: column;
  margin-left: 43px;
}

.fb__picbox-image {
  margin-bottom: 37px;
}

.fb__picbox-2 {
  margin-top: -130px;
}
.fantastic__image_mobile {
  display: none;
}
/*end of the fantastic, star of the clients */

.clients {
  margin-top: 69px;
  background: repeat-x url("../img/bgCity.png");
  background-position: bottom;
}

.clients-logo {
  left: calc(50% - 16px);
  width: 35px;
}

.clients-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.clients-reviews {
  display: flex;
  flex-direction: row;
}

.clients-review {
  height: 428px;
  width: 376px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  margin: 0 54px 381px 0;
  padding: 24px 32px 0 20px;
}

.clients-review:last-child {
  margin-right: 0;
}

.clients-review__client {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-title {
  text-transform: none;
  font-size: 18px;
  line-height: 1.27;
  color: #181818;
  margin-left: 23px;
}

.client-speach {
  margin-top: 22px;
  font-size: 13px;
  line-height: 1.8;
  color: #959595;
}

.client-order {
  width: 293px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 46px 0 0 -20px;
  cursor: default;
}

.client-order__title {
  font-size: 17px;
  line-height: 1.4;
  color: #fff;
  height: 54px;
  padding: 15.1px 15px 15.1px 5px;
}

.for-line {
  border-right: 0.75px solid #fff;
}
/*end of the clients, start ot the map*/
.map {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-bg {
  height: 954px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: no-repeat center/cover url("../img/bgBuilding.jpg");
  z-index: 1;
}

.map::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 954px;
  background: rgba(24, 24, 24, 0.9);
  z-index: 2;
}

.map-form {
  width: 883px;
  height: 445px;
  background: #181818;
  margin-top: -222px;
  position: relative;
  z-index: 10;
  padding: 34.4px 81.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.map-form__title {
  color: #fff;
}

.m-f_string {
  display: flex;
  flex-direction: row;
}

.m-f__label {
  width: 231px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.m-f__label-1 {
  margin-right: 58px;
}

.m-f__label-3 {
  width: 520px;
}

.m-f__input {
  background: none;
  color: #fff;
}

.m-f__agreement {
  color: #fff;
  cursor: pointer;
}

.m-f__submit {
  width: 200px;
  height: 51px;
  font-style: normal;
  font-family: "NunitoSans Regular", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 0;
}

.find-us {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-us__title {
  margin: 48px 0 22px;
  text-align: center;
}

.find-us_imgs {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.find-us_img {
  padding-right: 15px;
}

.find-us_map {
  margin-bottom: 30px;
  width: 925px;
  height: 465px;
  position: relative;
  z-index: 10;
  background: no-repeat center/cover url("../img/map.png");
}
/*end of main part */
.footer {
  background-color: #181818;
}

.footer-box {
  height: 133px;
}

@media screen and (max-width: 1300px) {
  .header-navigation,
  .header-button,
  .project-list,
  .project-dots,
  .project-box__image,
  .request,
  .request-pig,
  .fantastic-bg,
  .fb__list,
  .fb__picbox,
  .fantastic::before,
  .clients,
  .map-bg,
  .map::before,
  .footer {
    display: none;
  }

  body,
  .p-p__text {
    font-size: 11px;
  }

  .button {
    width: 90vw;
    margin-top: 26px;
  }

  .button-top {
    max-width: 90vw;
    margin-top: 26px;
    margin-right: 0;
  }

  .container {
    max-width: 90vw;
  }

  .title {
    font-size: 22px;
    text-align: center;
  }

  .header-box a {
    text-decoration: none;
    color: #fff;
  }

  .hero {
    height: calc(100vh - 83px);
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hero-container {
    padding-left: 0;
  }

  .hero-title {
    font-size: 23px;
    text-align: left;
  }

  .hero-text {
    font-size: 14px;
    line-height: 1.35;
  }

  .project {
    padding-bottom: 22px;
  }

  .project-box {
    flex-wrap: nowrap;
    width: 90vw;
    height: unset;
    padding: 36px 0;
  }

  .project-text {
    text-align: center;
  }

  .project-box__image_mobile {
    display: unset;
    margin: 36px 0 16px;
    position: relative;
    z-index: 1;
  }

  .pbim__bitton,
  .fbim__bitton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background: #e3b873;
    position: absolute;
    right: 13px;
    top: calc(50% - 18px);
    z-index: 100;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  }

  .pbim__bitton-left,
  .fbim__bitton-left {
    position: absolute;
    left: 13px;
  }

  .p-p__title {
    font-size: 14px;
    text-align: start;
  }

  .control {
    margin-top: 0;
    background: #131313;
    max-width: 100%;
  }

  .control-image {
    max-width: 90%;
    height: unset;
    background: cover no-repeat;
    margin-bottom: 40px;
  }

  .control-play {
    width: 63px;
    margin: 72px 0;
  }

  .control-text {
    max-width: 90vw;
    color: #fff;
    font-size: 11px;
  }

  .control-text::after {
    top: -22px;
  }

  .control-form {
    max-width: 90vw;
    flex-direction: column;
    align-items: stretch;
    margin-top: 0;
  }

  .control-label {
    order: 1;
    width: 100%;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 60px;
    margin-right: 0;
  }

  .input {
    width: 100%;
    background: none;
    color: #fff;
  }

  .control__submit {
    order: 3;
    margin: 52px auto -25px;
    width: 90%;
  }

  .control-agreement {
    order: 2;
    color: #fff;
    font-size: 14px;
    text-align: left;
  }

  .repair-and-request {
    background: none;
  }

  .repair {
    margin-top: 83px;
  }

  .repair-boxes {
    flex-direction: column;
    max-width: 90vw;
    margin-bottom: 0;
  }

  .r-b-box {
    width: 100%;
    margin-bottom: 177px;
    height: 365px;
    background-size: cover;
  }

  .r-b-box_item {
    width: 80%;
    margin-top: 223px;
    margin-left: 0;
    height: 240px;
  }

  .repair_subtitle {
    font-size: 15px;
    text-align: left;
    padding: 21px 0 0 31px;
  }

  .r-b-box_list {
    line-height: 1.7;
    padding-left: 31px;
  }

  .repair-button {
    max-width: 190px;
    padding: 10px 0;
    font-size: 15px;
    margin-top: 15px;
  }

  .fantastic {
    height: 210px;
  }

  .fantastic-box {
    flex-direction: column;
  }

  .fantastic__image_mobile {
    display: flex;
    position: relative;
    margin: 27.5px auto 0;
    width: 90vw;
    height: 242px;
    background: no-repeat center/cover url("../img/bgFantastic.png");
  }

  .fantastic__image_mobile-pic {
    width: 90vw;
    overflow: hidden;
  }

  .map {
    background-color: #181818;
  }

  .map-form {
    width: 90vw;
    height: 490px;
    margin-top: 173px;
    padding: 0;
  }

  .m-f_string {
    flex-direction: column;
  }

  .m-f__label {
    width: 90vw;
    margin-top: 50px;
  }

  .m-f__label-1 {
    margin-right: 0;
  }

  .m-f__label-3 {
    width: 90vw;
  }

  .m-f__agreement {
    align-self: start;
    margin-top: 15px;
  }

  .m-f__submit {
    margin-top: 60px;
    width: 90vw;
    height: 51px;
  }

  .find-us {
    background-color: #181818;
  }

  .find-us__title {
    font-size: 18px;
    max-width: 340px;
  }

  .find-us_map {
    order: -1;
    width: 90vw;
    margin: 46px auto 0;
    height: 255px;
    overflow: hidden;
  }

  .find-us_imgs img {
    max-width: 39px;
  }

  .find-us_img {
    padding-right: 21px;
  }
}
